[submodule "plugin/rango-talon"]
	path = plugin/rango-talon
	url = https://github.com/DonnerWolfBach/rango-talon.git
[submodule "plugin/cursorless-talon"]
	path = plugin/cursorless-talon
	url = https://github.com/DonnerWolfBach/cursorless-talon.git
[submodule "plugin/talon-ai-tools"]
	path = plugin/talon-ai-tools
	url = https://github.com/C-Loftus/talon-ai-tools.git
