*.swp
# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
/settings/*

# selected settings to not ignore
!/settings/additional_words.csv
!/settings/alphabet.csv
!/settings/alphabet.csv
!/settings/file_extensions.csv
!/settings/search_engines.csv
!/settings/unix_utilities.csv
!/settings/unix_arguments.csv
!/settings/words_to_replace.csv

# we highly recommended against removing the private folder from the gitignore file
# the directory is used to store sensitive information such as contacts
/private
.vscode/settings.json
.DS_Store
*.bak
# Emacs (from https://github.com/github/gitignore/blob/main/Global/Emacs.gitignore)
*~
\#*\#
.\#*
# Vim (from https://github.com/github/gitignore/blob/main/Global/Vim.gitignore)
[._]*.swp

# system_paths autogenerations
core/system_paths*.talon-list