from talon import app, Module, Context, actions, ui, imgui, settings, app, registry

ctx = Context()
mod = Module()
ctx.matches = r"""
tag: user.terminal_location_shortcuts
"""

# move this outside of knausj, make it a .py file and then
# write your locations in the locations dictionary

locations = {
    "Desktop":"~/Desktop/"
}

@ctx.action_class("user")
class Actions:
    def terminal_location_shortcuts_go(location :str):
        """moves the terminal to the location"""
        path = locations.get(location)
        if path:
            actions.insert("cd {}\n".format(path))
            actions.insert("ls \n") # because I'll do it anyway
        else:
            actions.app.notify("location \"{}\" not implemented or available".format(location))
            
        
    def terminal_location_shortcuts_path(location: str):
        """returns the path to the location"""
        path = locations.get(location)
        if path:
            actions.insert(path)
        else:
            actions.app.notify("location \"{}\" not implemented or available".format(location))
            